body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
/*  margin-top: 500px; */
  width: 100%;
  background-color: white;
  vertical-align: baseline;
}
.container h1 {
  text-align: center;
  color: black;
  margin-top: 0px;
}
.container p {
  text-align: center;
  color: black;
  margin-left: 400px;
  margin-right: 400px;
}
.img {
  width: 100%;
  height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/2637581.jpg);
  background-size: 100%;
  background-position:  center center;
  background-repeat: no-repeat;
}
.imgvoorbox {
  height: 100%;
  width: 100%;

}
.project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-end;

}
.projects{
  display: flex;
  flex-wrap: wrap;
  border: 7px solid black;
  background-color: white;
  border-radius: 20px 3px 20px 10px;
  width: 200px;
  height: 200px;
  padding: 5px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.projects:hover {
  background-color: black;
}
.iframe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-end;
}
iframe {
  width: 1000px;
  height: 500px;
}
.body2 {
  background-color: white;
}
